.dice-row {
    display: flex;
    justify-content: space-between;
}

.die {
    text-align: center;
}

.roll-btn {
    height: 52px;
    width: 100px;
    margin-top: 27px;
    padding-top: 11px;
}

.expected-score-container {
    padding-bottom: 30px;
}

.box {
    text-align: center;
}

.box button {
    padding: 1px 8px 1px 8px;
}

.new-game-container {
    text-align: center;
    margin: 30px 0 30px 0;
}

.score-box {
    text-align: center;
}

#game-type-selector {
    margin: 0 10px 0 10px;
}

#high-score-input {
    width: 100px;
}
